.forms {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.forms form {
    width: 450px;
    background-color: #FFF;
    border-radius: 20px;
    padding: 36px 64px;
    box-shadow: 8px 8px 16px rgba(0,0,0,0.08);
}

.forms form h2 {
    color: rgba(77, 1, 77);
    font-size: 28px;
    text-align: center;
}