.forms {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.forms form {
    width: 450px;
    background-color: #FFF;
    border-radius: 20px;
    padding: 36px 64px;
    box-shadow: 8px 8px 16px rgba(0,0,0,0.08);
}

.forms form h2 {
    color: rgba(77, 1, 77);
    font-size: 28px;
    text-align: center;
}

.btn {
    border: none;
    padding: 10px 30px;
    background-color: rgba(77, 1, 77);;
    border-radius: 6px;
    font-size: 18px;
    margin-top: 20px;
    color: #FFF;
    font-weight: 700;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
}

.btn:hover {
    background-color: #FFF;
    color: rgba(77, 1, 77);
    cursor: pointer;
}